/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header Styling */
#header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
}

/* Navigation Styling */
nav {
    background: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    color: #ffc107;
}

/* Section Styling */
.section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* About Me Section */
.about-me {
    border-left: 5px solid #333;
    padding-left: 15px;
    line-height: 1.6;
}

/* Profile Image Styling */
#profile-img {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #333;
}

/* Projects Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

/* Contact Form Styling */
form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 25px;
}

legend {
    font-weight: bold;
    color: #333;
    padding: 0 10px;
    font-size: 1.2em;
}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    color: #555;
    font-size: 1.1em;
}

#full-name,
#email,
#comments {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.radio-input,
.checkbox-input {
    margin-right: 12px;
}

.radio-group,
.checkbox-group {
    margin-bottom: 20px;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background: #ffc107;
}

/* Footer */
footer {
    text-align: center;
    font-size: 14px;
    padding: 10px;
    background: #141517;
    color: white;
    margin-top: 20px;
    border-top: 2px solid #101112;
}